{
  // enable airbnb eslint from https://www.npmjs.com/package/eslint-config-airbnb
  "extends": "airbnb-base",
    "rules": {
      "consistent-return": [0, { "treatUndefinedAsUnspecified": true }],
      "no-extraneous-dependencies": "off",
      "camelcase": "off",
      "comma-dangle": "off",
      "prefer-template": "off",
      "arrow-body-style": "off",
      "no-await-in-loop": "off",
      "operator-assignment": "off",
      "no-param-reassign": "off",
      "object-curly-newline": "off",
      "no-useless-escape": "off",
      "no-plusplus": "off",
      "no-else-return": "off",
      "no-restricted-syntax": "off", //fuckoff about iterators already, i'm using await in for loops
      "max-len": "off",
      "prefer-rest-params": "off",
      "guard-for-in": "off",
      "no-bitwise": "off",
      "no-async-promise-executor": "off",
      "prefer-promise-reject-errors": "off",
      "prefer-destructuring": ["error", {
        "AssignmentExpression": {
          "array": false
        }
      }]
    },
  "parserOptions":
  {
    "ecmaVersion": 2020
  }
}
